<md-dialog>
  <form name="dialog.form" ng-submit="dialog.save()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Create new way point</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.hide()">&#10005</md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="modal-waypoint">
      <div class="md-dialog-content">
        <md-input-container>
          <label>Way Point name</label>
          <input type="text"
                 name="name"
                 ng-model="dialog.newWayPoint.name"
                 required>
          <div ng-messages="dialog.form.name.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              The way point can not be an unnamed
            </div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Latitude</label>
          <input type="number"
                 name="latitude"
                 ng-model="dialog.newWayPoint.location.latitude"
                 required>
          <div ng-messages="dialog.form.latitude.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              This field is required
            </div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Longitude</label>
          <input type="number"
                 name="longitude"
                 ng-model="dialog.newWayPoint.location.longitude"
                 required>
          <div ng-messages="dialog.form.longitude.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              This field is required
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions class="modal-buttons" layout="row">
      <md-button ng-click="dialog.hide()">Cancel</md-button>
      <md-button type="submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
